<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1> Kruger National DB</h1>
  <form action="/animals" method="POST">
    <input type="text" placeholder="Animal Name" name="animalName"><br>
    <input type='text' placeholder="Type" name="type"><br>
    <input type="text" placeholder="Scientific Name" name="scientificName"><br>
    <input type="text" placeholder="Appearance" name="appearance"><br>
    <input type="text" placeholder="Diet" name="diet"><br>
    <input type="text" placeholder="Breeding" name="breeding"><br>
    <input type="text" placeholder="Behavior" name="behavior"><br>
    <input type="text" placeholder="Habitat" name="habitat"><br>
    <input type="text" placeholder="Field Notes" name="fieldNotes"><br>
    <input type="text" placeholder="Population Threat" name="populationThreat"><br>
    <input type="text" placeholder="Interesting Facts" name="interestingFacts"><br>
    <input type="text" placeholder="Image" name="image"><br>
    <button type="submit" style="background-color: lightgreen;">Submit</button>
    <button type="button" id="updateButton" style="background-color: lightblue ;">Update Entry</button>
</form>

<script src="/public/main.js"></script>
</body>
</html>